footer {
    margin-left: 200px;
    margin-right: 200px;
    position: fixed;
    bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #219ebc
}