@media only screen and (max-width: 10000px) {
  .footer {
    position: relative;
    bottom: 0px;
    padding-bottom: 50px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #508ce4;
    margin-top: 150px;
  }

  .footer_p {
    color: #fff;
    margin-left: 200px;
    font-family: "Raleway";
  }

  .footerBelow {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 0px;
    z-index: 10;
  }

  .footerBelow_header {
    display: flex;
    color: #fff;
    gap: 5rem;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: flex-start;
  }

  .footerBelow_header_h1 {
    margin-bottom: 1.6rem;
    font-family: "Raleway";
    font-size: 19.2px;
  }

  .footerBelow_header_a {
    margin-bottom: 1rem;
    font-family: "Raleway";
    font-size: 13px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
  }

  .footerBelow_header_a:hover {
    margin-bottom: 1rem;
    font-family: "Raleway";
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1300px) {
  .footer {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 150px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .footer_p {
    font-family: "Raleway";
    color: #fff;
    margin-left: 4rem;
  }

  .footerBelow {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 0px;
    z-index: 10;
  }

  .footerBelow_header {
    display: flex;
    color: #fff;
    gap: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 800px) {
  .footer_p {
    font-family: "Raleway";
    color: #fff;
    text-align: center;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .footerBelow_header {
    display: block;
    text-align: center;
    color: #fff;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: flex-start;
    margin-top: -5rem;
  }

  .footerBelow_header_h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
