@media only screen and (max-width: 10000px) {
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf") format("truetype"); /* Adjust the path accordingly */
  }

  .detalhesContainer {
    background-color: #fafafa;
    margin-left: 35%;
    padding: 20px;
    margin-top: 120px;
    margin-right: 200px;
    border-radius: 10px;
  }

  .distritosZone {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
    overflow: auto;
  }

  .distritosZone::-webkit-scrollbar {
    display: none;
  }

  .distritosZone a {
    padding: 10px;
    background-color: #508ce4;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: 10px;
    white-space: nowrap;
  }

  .cardJob {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .detalhesContainer h1 {
    font-family: "Raleway";
  }

  .detalhesContainer header {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }

  .modalOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
  }

  .modalOverlay header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .modalContent {
    border: 1px solid #508ce4;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 35px;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .modalOverlay header h2 {
    color: #fff;
    font-size: 26px;
    font-family: "Raleway";
    letter-spacing: -0.8px;
    font-weight: bold;
  }

  .modalOverlay header p {
    color: #bfbfbf;
    font-size: 16px;
    margin-top: -10px;
    font-family: "Raleway";
    letter-spacing: -0.8px;
    font-weight: bold;
  }

  .closeButton {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 45px;
    padding-left: 25px;
    padding-right: 15px;
    background-color: transparent;
    color: #fff;
    scale: 1.25;
  }

  .closeButton p {
    font-size: 26px;
  }

  .closeButton:hover,
  .paymentButton:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .paymentOptions {
    display: flex;
  }

  .paymentButton,
  .confirmButton {
    background-color: #508ce4;
    color: #fff;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    font-weight: bold;
  }

  .table {
    font-family: "Raleway";
    margin-top: 10px;
    width: 100%;
  }

  .table th {
    padding: 10px;
    background-color: #508be49c;
    text-align: start;
    color: #fff;
  }

  .creditPack {
    background-color: #fff;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    min-width: 150px;
  }

  .creditPack b {
    font-family: "Raleway";
    letter-spacing: -0.8px;
    font-size: 22px;
  }

  .price {
    font-family: "Raleway";
    letter-spacing: -0.8px;
    font-weight: 300;
    font-size: 16px;
    margin-left: -5px;
    margin-top: 0px;
  }

  .buyButton {
    background-color: #508ce4;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-family: "Raleway";
    font-weight: 500;
    letter-spacing: -0.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .buyButton:hover {
    opacity: 0.8;
  }

  input {
    background-color: transparent;
    border: 1px solid #d6d4d4;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  input:focus {
    outline: none;
  }

  .botoes {
    display: inline-block;
  }

  label {
    font-size: 14px;
    font-family: "Avenir Next";
    color: #8c8c8c;
  }

  .guardar {
    padding: 10px;
    background-color: #508ce4;
    border: 0;
    color: #fff;
    border-radius: 5px;
    width: 120px;
    font-size: 14px;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .guardar:hover,
  .terminarSessao:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s ease;
  }

  .terminarSessao {
    padding: 10px;
    background-color: #f00;
    border: 0;
    color: #fff;
    border-radius: 5px;
    width: 160px;
    font-size: 14px;
    margin-top: 10px;
  }

  .headerDateTitle {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .headerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  .addCardBtn {
    background-color: #508ce4;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .addCardBtn:hover {
    background-color: #508be49c;
  }

  .eliCardBtn {
    color: black;
    cursor: pointer;
  }

  .eliCardBtn:hover {
    color: #fff;
    background-color: #508ce4;
  }

  .listPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 3px solid #ffffff;
    padding: 10px;
    cursor: pointer;
  }

  .listPay:hover {
    border: 3px solid #8b8b8b;
  }

  .listPaySelected {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 3px solid #508ce4;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cardNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.addCardWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 201;
  background-color: #8b8b8b7f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCardWindow .form {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Media Queries */
@media only screen and (max-width: 1400px) {
  .detalhesContainer {
    background-color: #fafafa;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
  }

  .table {
    font-family: "Raleway";
    margin-top: 10px;
    overflow: auto;
  }
}

@media only screen and (max-width: 1250px) {
  .detalhesContainer {
    background-color: #fafafa;
    padding: 20px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
  }

  .botoes {
    display: block;
  }

  .guardar {
    padding: 10px;
    background-color: #508ce4;
    border: 0;
    position: relative;
    color: #fff;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin: auto;
    font-size: 14px;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .terminarSessao {
    padding: 10px;
    background-color: #f00;
    border: 0;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    justify-content: flex-start;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .detalhesContainer header,
  .tableParent {
    overflow: auto;
    width: 100%;
  }

  .detalhesContainer header::-webkit-scrollbar,
  .tableParent::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 475px) {
  .headerList {
    display: block;
    margin-right: 75px;
  }
}

@media only screen and (max-width: 450px) {
  .headerDateTitle {
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
