.detalhesContainer {
    background-color: #fafafa;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    width: 630px;
    position: absolute;
    right: 200px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.detalhesContainer h1 {
    font-family: "Avenir Next";
}

input {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 10px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.botoes {
    display: inline-block;
}

label {
    font-size: 14px;
    font-family: "Avenir Next";
    color: #8c8c8c;
}

.guardar {
    padding: 10px;
    background-color: #219ebc;
    border: 0;
    color: #fff;
    border-radius: 5px;
    width: 120px;
    font-size: 14px;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: 10px;
    margin-left: 510px;
}

.guardar:hover, .terminarSessao:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s ease;
}

.terminarSessao {
    padding: 10px;
    background-color: #8c8c8c;
    border: 0;
    color: #fff;
    border-radius: 5px;
    width: 160px;
    font-size: 14px;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 10px;
}