body {
  background-color: #fff;
}

nav {
  width: 100%;
  background-color: #508ce4;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  color: #fff;
  font-family: "Avenir Next";
  padding-left: 200px;
  font-size: 1.3rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  padding-right: 200px;
}

nav ul li {
  list-style: none;
  color: #fff;
  font-family: "Raleway";
  font-weight: 500;
}

.displayNone {
  display: none;
}
@media screen and (max-width: 1190px) {
  nav h3 {
    padding-left: 25px;
  }
  nav ul {
    padding-right: 25px;
  }
}
@media screen and (max-width: 900px) {
  nav {
    z-index: 200;
  }

  .HamMenu {
    padding-right: 25px;
  }

  .navOpen {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #508ce4;
    z-index: 150;
    overflow: hidden;
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .navOpen ul,
  .navClose ul {
    margin: 0;
    padding: 0;
  }
  .navOpen ul a li,
  .navOpen ul li,
  .navClose ul a li,
  .navClose ul li {
    font-size: 18px;
    margin: 30px 0px;
    padding: 0;
    color: #fff;
    list-style: none;
  }

  @keyframes slideDown {
    0% {
      height: 0;
    }

    100% {
      height: 100vh;
    }
  }
  .navClose {
    top: 0;

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #508ce4;
    z-index: 150;
    overflow: hidden;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @keyframes slideUp {
    0% {
      height: 100vh;
    }

    100% {
      height: 0;
    }
  }
}
