@media only screen and (max-width: 10000px) {
  @font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap') format('truetype');
    /* You can include other font weights and styles as well if needed */
  }

  .Select {
    width: "100%";
    margin-left: 100px;
    margin-right: 100px;
  }

  .Select2 {
    width: 200px;
    align-self: center;
  }

  .formDesktop {
    display: block;
  }


  .divCabecalho {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
    opacity: 1;
  }

  .title {
    font-size: 240%;
    font-family: "Raleway";
    background-color: #508ce4;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }

  .subtitle {
    font-size: 24px;
    margin-top: -25px;
    /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
    font-family: "Raleway";
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fafafa;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  .botoes {
    display: inline-flex;
    text-align: center;
  }

  .btnPostJob {
    background-color: #219ebc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #219ebc;
    list-style-type: none;
    width: 150px;
    padding: 1px;
    z-index: 10;
  }

  .btnPostJob h3 {
    font-size: 18px;
    font-family: "Avenir Next";
    text-align: center;
  }

  .btnRegister {
    border: 1px solid #219ebc;
    color: #219ebc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #219ebc;
    list-style-type: none;
    width: 150px;
    padding: 1px;
    z-index: 10;
  }

  .btnRegister h3 {
    font-size: 18px;
    font-family: "Avenir Next";
    text-align: center;
  }

  .btnRegister,
  .btnPostJob:hover {
    opacity: 0.75;
    transition: 0.5s;
    cursor: pointer;
  }

  .divQuestions {
    position: relative;
    text-align: center;
    font-family: "Raleway";
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    z-index: 10;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px 50px 50px 20px;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .subtitleSemDots {
    font-size: 150%;
    font-family: "Avenir Next";
    margin-top: -30px;
    margin-bottom: 50px;
    color: #219ebc;
    font-weight: 400;
  }

  .jobsSelect {
    width: 30%;
    height: 2rem;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
    font-size: 125%;
    font-family: "Avenir Next";
    font-weight: 200;
  }
  .continueButton {
    background-color: #508ce4;
    color: #fff;
    font-size: 125%;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 10px 25px;
    margin: 5px;
    cursor: pointer;
  }

  .anteriorBtn {
    background-color: transparent;
    color: #508ce4;
    font-size: 125%;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 10px 25px;
    margin: 5px;
    cursor: pointer;
  }
  .question {
    display: block;
    margin: auto;
    margin-left: 20px
  }
  .displayNone {
    display: none;
  }

  .botoesSelect {
    margin-left: 100px;
    margin-right: 100px;
  }
  .categoryLabel {
    display: flex;
    font-size: 125%;
    font-family: "Raleway";
    color: #999;
    margin: 5px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  .categoryLabel h4,
  .categoryLabelSelected h4 {
    margin: 0;
  }

  .categoryLabel:hover {
    opacity: 0.7;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .categoryLabelSelected {
    display: flex;
    font-size: 125%;
    font-family: "Raleway";
    color: #fff;
    margin: 5px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #508ce4;
  }

  textarea {
    resize: none;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Raleway";
    border-radius: 5px;
    border: 1px solid #e8e8e9;
  }

  input {
    font-family: "Raleway";
  }

  .postJobZero {
    display: flex;
    justify-content: center;
    margin-left: 1f5px;
  }

  /* .postJobUm,
  .postJobZero,
  .postJobDois {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .postJobUm div,
  .postJobDois div {
    width: 30%;
  }
  .postJobUm div .Select {
    width: fit-content;
  }
  .postJobUm div input,
  .postJobDois div input {
    width: 100%;
    padding: 15px;
    border: 1px solid #508ce4;
    border-radius: 5px;
  } */

  .postJobUm, .postJobDois {
    display: flex;
    justify-content: space-evenly;
  }

  .postJobUm input, .postJobDois input {
    width: 300px;
  }

  #Continuarbtn {
    background-color: #508ce4;
    color: #fff;
    font-size: 125%;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    border-radius: 100px;
    width: 150px;
    margin: 5px;
    cursor: pointer;
  }

  .containerCheckBoxes {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .containerCheckBoxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    height: 25px;
    border-radius: 5px;
    width: 25px;
    background-color: #8c8c8c;
  }

  .containerCheckBoxes:hover input ~ .checkmark {
    background-color: #8c8c8c;
  }

  .containerCheckBoxes input:checked ~ .checkmark {
    background-color: #508ce4;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .containerCheckBoxes input:checked ~ .checkmark:after {
    display: block;
  }

  .containerCheckBoxes .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .formMobile {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {

  .formDesktop {
    display: none;
  }

  .formMobile {
    display: block;
  }

}

@media only screen and (max-width: 1250px) {

  .divCabecalho {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
    opacity: 1;
  }

  .divQuestions {
    position: relative;
    text-align: center;
    font-family: "Raleway";
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    z-index: 10;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px 50px 50px 20px;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .Select {
    width: "100%";
    margin-left: 10px;
    margin-right: 10px;
  }

}

@media only screen and (max-width: 550px) {
  .title {
    font-size: 160%;
    font-family: "Raleway";
    background-color: #508ce4;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }

  .subtitle {
    font-size: 15px;
    margin-top: -25px;
    /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
    font-family: "Raleway";
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fafafa;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  .categoryLabel {
    display: flex;
    font-size: 85%;
    font-family: "Raleway";
    color: #999;
    margin: 5px;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    background-color: #f2f2f2;
  }

  .categoryLabelSelected {
    display: flex;
    font-size: 85%;
    font-family: "Raleway";
    color: #fff;
    margin: 5px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #508ce4;
  }

  .question {
    width: 100%;
    margin-left: 10px
  }

  .question h1 {
    font-size: 22px;
  }

  .continueButton {
    background-color: #508ce4;
    color: #fff;
    font-size: 75%;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 10px 25px;
    margin: 5px;
    cursor: pointer;
  }

  .anteriorBtn {
    background-color: transparent;
    color: #508ce4;
    font-size: 75%;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 10px 25px;
    margin: 5px;
    cursor: pointer;
  }
}