
@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap') format('truetype');
  /* You can include other font weights and styles as well if needed */
}

.workerPage {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 120px;
  border-radius: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  font-family: "Raleway";
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.05);
}

.workerPage header {
  display: inline-flex;
  align-items: center;
  background-color: #f2f2f2;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.workerPage header h1 {
  margin-left: 25px;
}

.estruturaPerfil {
  display: flex;
  justify-content: space-between;
}

.perfilDoMan {
  width: 50%;
  padding-right: 25px;
  margin-left: 15px;
  text-align: end;
  margin-top: -60px;
  margin-bottom: 10px;
  border-right: 3px solid #508ce4
}

.perfilDoMan h3, .perfilDoMan h4, .perfilDoMan p {
  font-family: "Raleway";
}

.perfilDoMan h3 {
}


.workerPage header b {
  background-color: #508ce4;
  border-radius: 5px;
  padding: 7px;
  margin-right: 25px;
  font-size: 14px;
  color: #fff
}

.feedback {
  color: #508ce4;
  font-weight: bold;
  margin-top: -45px;
  margin-left: 20px;
  font-family: "Raleway";
}

.nome {
  font-size: 14px;
  font-family: "Raleway";
  color: #000;
  padding-top: 20px;
  margin-bottom: -5px
}

.adiciona {
  font-size: 14px;
  font-family: "Raleway";
  color: #508ce4;
}

.agoraDepois {
  display: inline-flex;
}

.agora, .depois {
  display: block;
  width: 50%;
  margin: 5px
}

.depois p {
  color: #8c8c8c
}

hr {
  background-color: #000
}

button {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 5px;
  font-family: "Raleway";
  margin-top: 10px;
}

.adicionarBtn {
  background-color: #508ce4;
  color: #fff
}

.recusarBtn {
  border: 1px solid #8c8c8c;
  background-color: transparent;
  color: #8c8c8c;
}

p, h3 {
  font-family: "Raleway";
}

.descricao {
  text-transform: uppercase;
  
}

.form {
  background-color: #f2f2f2;
}